*{
    box-sizing: border-box;
}
.yo {
    width: 25%;
}
body {
    margin: 0;
    background: white;
}

.main-header {
    background: #F5BF56;
}
.titulo {
    color: #2A5FA8; /*after-transition: #5698F5*/
    padding: 10px;
    margin: 0;
}
.main-nav{
    background: #AD785C;
    position: relative;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu_link {
    text-decoration: none;
    color: #56E8F5;
    padding: 8px;
    margin: 0;
    display: block;
}
.info {
    color: red;
    font-style: oblique;
    font-size: 25px;
}
.links {
    color: black;
    text-decoration-color: khaki;
}
.juegos {
    color: #DB5018;
    text-decoration: none;
}
.img_juegos {
    width: 20%;
}





.USIL {
    font-size: 20px;
    color: violet;
}
.panas {
    text-decoration: none;
    display: block;
    color: MediumTurquoise;
    width: 131px;
}