*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: thistle;
}

.main-header {
    background: #FABD97;
}
.titulo {
    color: #34AAAD;
    padding: 10px;
    margin: 0;
}
.main-nav{
    background: #AD785C;
    position: relative;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu_link {
    text-decoration: none;
    color: #6FADAB;
    padding: 8px;
    margin: 0;
    display: block;
}



.panas {
    text-decoration: none;
    display: block;
    color: cadetblue;
}