*{
    box-sizing: border-box;
}
.yo {
    width: 25%;
}
body {
    margin: 0;
    background: white;
}

.main-header {
    background: #F5BF56;
}
.titulo {
    color: #2A5FA8;
}
@media(min-width:480px) {
    .container-section {
        display: block;
    }
    .titulo {
        animation-name: practica;       
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes practica {
        0% {
            margin-left: 0px;
        }
        50% {
            margin-left: 130px;
            color: #6aa5f8;
        }
        100% {
            margin-left: 0px;
        }
    }
}
@media(min-width:1024px) {
    .titulo{
    padding: 10px;
    margin: 0;
    animation-name: movimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes movimiento {
        0% {
            margin-left: 300px;
        }
        50% {
            margin-left: 890px;
            color: #6aa5f8;
        }
        100% { 
            margin-left: 300px;
        }
    }
}

.main-nav{
    background: #AD785C;
    position: relative;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu_link {
    text-decoration: none;
    color: #56E8F5;
    padding: 8px;
    margin: 0;
    display: block;
}
.info {
    color: red;
    font-style: oblique;
    font-size: 25px;
}
.links {
    color: black;
    text-decoration-color: khaki;
}
.img_lugares {
    width: 25%;
}
.img_pasatiempos {
    width: 25%;
}
.juegos {
    color: #DB5018;
    text-decoration: none;
}
.img_juegos {
    width: 20%;
}
.tabla {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid red;
    text-align: left;
    padding: 8px;
}
.dominios {
    color: coral;
}
.container {
        width: 100%;
        margin: 0;
}
.menu {
        display: flex;
        position: static;
        visibility: visible;
        opacity: 1;
}
.icon-menu {
        display: none;
}

.estudios {
    font-size: 25px;
    color: darkorange;
    font-style: oblique;
}
li {
    font-size: 20px;
}



.compañero{
    color: Orange;
}
.carrera {
    color: DarkKhaki;
}
.USIL {
    font-size: 30px;
    color: violet;
}
.panas {
    text-decoration: none;
    display: block;
    color: MediumTurquoise;
    width: 100px;
}