*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-header {
    background: lightcoral;
}
.titulo {
    color: darkturquoise;
    padding: 10px;
    margin: 0;
}
.main-nav{
    background: coral;
    position: relative;
}
.menu_link {
    list-style: none;
    padding: 8px;
    margin: 0;
    display: block;
}