*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-header {
    background: gold;
}
.titulo {
    color: darkblue;
    padding: 10px;
    margin: 0;
}
.main-nav{
    background: coral;
    position: relative;
}
.menu {
    
}
.menu_link {
    text-decoration: none;
    color: GreenYellow;
    padding: 8px;
    margin: 0;
    display: block;
}